<div class="w-50 d-flex content align-self-center m-auto">

  <widget-main-component (hotelDataSet)="incomingHotelData($event)" (hotelsOfCurrCountry)="getHolelsForCurrCountry($event)"
    class="w-50 h-100 d-flex flex-column rounded overflow-hidden"></widget-main-component>

  <div class="w-50 h-100 d-flex flex-column pl-4">

    <app-widget-weather class="w-100 h-50 mb-4">
      <div class="w-25 weather-state text-center">
        <h2>{{hotelInfo.weather.title}}</h2>
      </div>
      <i [class]="hotelInfo.weather.icon" class="my-1"></i>
      <div class="w-50 text-center">
        <h2>{{hotelInfo.weather.temperature}}°C</h2>
      </div>
      <p class="w-25 text-center water-temp"> Water {{hotelInfo.weather.water}}°C</p>
    </app-widget-weather>

    <app-widget-rate class="w-100 h-50">
      <h2 class="w-50 text-center">{{hotelInfo.social_info.title}}</h2>
      <img src="{{'./assets/images/' + hotelInfo.social_info.img}}">
      <div class="w-100 d-flex justify-content-center">
        <div class="followers px-3">{{hotelInfo.social_info.followers}} Followers</div>
        <div class="px-3">{{hotelInfo.social_info.following}} Following</div>
      </div>
    </app-widget-rate>

  </div>

</div>
