<img [src]="firstImg" alt="" />
<div class="w-100 countries d-flex align-items-center justify-content-center">
  <div Class="current-country" *ngFor="let country of countriesSorted" (click)="changeCountry(country)">
    <h5>{{country}}</h5>
  </div>
</div>

<div class="hotels d-flex flex-column justify-content-start overflow-auto">
  <ng-container *ngFor="let hotel of hotels">
    <div *ngIf="hotel.type == currentCountry" class="w-100 d-flex p-3">
      <div class="w-50 d-felx flex-column">
        <h5 class="text-info">{{hotel.social_info.title}}</h5>
        <h6><em>Address:</em> {{hotel.address}}</h6>
        <h6><em>Phone number:</em> {{hotel.phone}}</h6>
      </div>

      <div class="w-50 d-flex justify-content-center align-items-center">
        <div (click)="changeHotel(hotel)">
          <img [src]="tempUrl + hotel.img" alt="" />
        </div>

        <div (click)="changeHotel(hotel)">
          <img [src]="tempUrl + hotel.social_info.img" alt="" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
